<h1>
  {{title}}
</h1>
<button (click)="play()">Play</button>
<button (click)="stop()">Stop</button>
<label>
  Iterative
  <input type="checkbox" [(ngModel)]="options.iterative" (change)="update()">
</label>
<label>
  Iterative
  <input [(ngModel)]="options.similarityThreshold" (keyup.enter)="update()">
</label>
<label>
  Min segment length
  <input [(ngModel)]="options.minSegmentLength" (keyup.enter)="update()" size="2">
</label>
<label>
  Max threshold
  <input [(ngModel)]="options.maxThreshold" (keyup.enter)="update()" size="2">
</label>
<label>
  End threshold
  <input [(ngModel)]="options.endThreshold" (keyup.enter)="update()" size="2">
</label>
<label>
  Patterns
  <input [(ngModel)]="options.patternIndices" (keyup.enter)="update()" size="10">
</label>
<ul>
<li *ngFor="let i of visualsCount">
  <visualization *ngIf="dymoGraph" [data]="dymoGraph" [viewConfig]="viewConfig" [playingUris]="playingDymos"></visualization>
</li>
</ul>